.ant-btn-primary{
  background-color: rgb(0, 97, 65);
}
.ant-btn-default{
  background-color: rgb(253, 72, 0);
}
.ant-pagination-item-active{
  border-color: rgb(0, 97, 65) !important;
}
li.ant-pagination-item-active a {
  color: rgb(0, 97, 65) !important;
}
.ant-menu-item-selected{
  border-color: rgb(0, 97, 65) !important;

}